* {
  font-family: "Cinzel Decorative", cursive;
  font-family: "Righteous", cursive;
}
/* primary color */
/* .pstyle {
   color: #d84190; 
  color: #6f3f71;
  color: #e71a45 ;
} */
.cardstyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.moviestyle {
  display: flex;
  background-color: #ffe8a5;
}
.cardmovie {
  display: flex;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e71a45;
  color: white;
  font-size: small;
  padding: 30px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ftco-animate {
  margin: 20px;
}
.socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialmedia h2 {
  color: white;
}
a :hover {
  color: #ffe8a5;
}
